<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
  <style>
    .pad-left {
      padding-left: 15px;
      border-style: none solid none none;
      border-color: grey;
      border-width: 2px;
    }
  </style>

</head>

<body>
  <header>
    <%- include('../partials/nav', { email: user.email }) %>
  </header>

    <br/>
    <div class="columns">
      <div class="column is-2 ">
        <aside class="menu pad-left">
          <p class="menu-label">
            General
          </p>
          <ul class="menu-list">
            <li><a>Feed</a></li>
        

          </ul>
          <!-- post code-->
          <div class="field">
            <label class="label">Board near</label>
            <div class="control">
              <input class="input" type="text" placeholder="Your postal code">
            </div>  
          </div>
          <!-- post code-->

          <!-- date picker-->
          <!-- 可以放一个date picker这里-->
          <!-- date picker-->

          <!-- select dog or cat-->
          <div class="control">
            <label class="label">I have a</label>
            <label class="radio">
              <input type="radio" name="dogSelect">
              Dog
            </label>
            <label class="radio">
              <input type="radio" name="catSelect" checked>
              Cat
            </label>
          </div>
          <!-- select dog or cat-->

          <!-- select nubmer of pets-->
          <label class="label">Pet number</label>
          <div class="field is-grouped is-grouped-multiline">
            <p class="control">
              <a class="button">
                One
              </a>
            </p>
            <p class="control">
              <a class="button">
                Two
              </a>
            </p>
            <p class="control">
              <a class="button">
                Three
              </a>
            </p>
            <p class="control">
              <a class="button">
                Four and Four+
              </a>
          </div>
          <!-- select nubmer of pets-->

          <!-- select pet size-->
          <label class="label">Pet size</label>
          <div class="field is-grouped is-grouped-multiline">
            <p class="control">
              <a class="button">
                0-15
              </a>
            </p>
            <p class="control">
              <a class="button">
                16-40
              </a>
            </p>
            <p class="control">
              <a class="button">
                41-100
              </a>
            </p>
            <p class="control">
              <a class="button">
                100+
              </a>
          </div>
          <!-- select pet size-->

          <!-- Find button-->
          <label class="label">Now find your hosts!</label>
          <button class="button is-primary">Find!</button>
          <!-- Find button-->
        </aside>
      </div>
      <div class="column is-4-desktop is-offset-2-desktop is-8-tablet">
        <div class="mb-6">
          <div class="box">
            <div class="has-text-weight-bold mb-2">
              Share a new post
            </div>
            <form action="/dog-messages" method="post">
              <input class="input" type="text" name="message" placeholder="Went to the dog park today" />
              <button class="button mt-2">Ruff!</button>
            </form>
          </div>
        </div>
        <div class="feed-stream">
          <%- include('../partials/feed-stream', { feed: feed }) %>
        </div>
      </div>
    </div>

    <!-- divide         -->
    
</body>

<%- include('../partials/footer') %>

</html>