<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <!-- Include any custom css classes that you want available on this page here -->
    <style>
      .big-box { 
        height: 100vh;
      }
      .my-hero {
        margin-bottom: 2em;
      }
      .my-level p {
        color: white;
        padding-bottom: 1em;
      }
      .center {
        text-align: center;
      }
      .my-nav-item {
        color: white;
      }
      .my-nav-item:hover {
        color: #485fc7;
      }

    </style>
</head>

<body class="has-background-success">
  <header>
    <%- include('../partials/nav') %>
  </header>
  <section class="hero my-hero is-warning is-halfheight">
    <div class="hero-body">
      <div class="container">
        <p class="title">
          Pet-Sit!
        </p>
        <p class="subtitle">
          Search and arrange pet-sitting with ease.
        </p>
        <a href="/sign-up" class="button is-primary">Sign Up</a>
      </div>
    </div>
  </section>
  <nav class="level my-level container">
    <div class="level-item has-text-centered">
      <div>
        <p class="title">Search</p>
        <p class="subtitle">Find the perfect stay for your pet</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="title">Connect</p>
        <p class="subtitle">Connect with pet-sitters</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="title">Pet-sit</p>
        <p class="subtitle">Want to host pets? Sign up as a pet-sitter</p>
      </div>
    </div>
  </nav>
  <section class="hero is-success is-halfheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-8">
            <p class="subtitle center">
              Pet-sit, the ultimate site to connect pet-sitters with pet-owners.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

<%- include('../partials/footer') %>

</html>