<% feed.forEach(function(feedItem) { %>
  <article style="margin-bottom: 3em;">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="<%= feedItem.imageSource %>" alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img class="is-rounded" src="https://bulma.io/images/placeholders/64x64.png" />
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">
              <%= feedItem.name %>
            </p>
            <p class="subtitle is-6">
              <%= feedItem.nameHandle %>
            </p>
          </div>
        </div>

        <div class="content">
          <%= feedItem.message %>
        </div>
      </div>
    </div>

  </article>

  <% }) %>