<head>
  <meta charset="UTF-8">
  <title>Sample Site</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- CS5356: Any global css styles can be defined here -->
  <style>
    .my-navbar-logo {
      margin: -5px;
    }
    
    .large {
      width: 30px;
    }

  </style>
</head>